---
---

// variables

$title-font: "komika hand", sans-serif
$body-font: "source sans light", sans-serif
$code-font: "source code light", monospace

$slash-color: #ddd
$font-color: #444

$margin-height: 40px

// fonts

@font-face
  font-family: "source sans light"
  src: url(/fonts/source-sans-pro/SourceSansPro-Regular.otf)

@font-face
  font-family: "komika hand"
  src: url(/fonts/Komika-Hand/Komika_Hand.ttf)

@font-face
  font-family: "source code light"
  src: url(/fonts/source-code-pro/SourceCodePro-Light.otf)

// base template css

body
  margin: 0
  padding: 0
  height: 100%

#main
  width: 50%
  min-height: 90%
  margin: 0 auto
  z-index: 2
  position: relative
  font-family: $body-font
  color: $font-color
  text-align: center

#background
  background-color: white

::selection
  background: #eee

::-moz-selection
  background: #eee


// styling for pages

// headers

.header-picture
  margin-top: $margin-height
  width: 10em
  background-color: $font-color
  // no select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.header-title
  font-family: $title-font
  font-size: 2em
  margin-top: 5px

// nav

.top-squiggles
  margin-top: $margin-height

.squiggle
  position: relative
  top: 8px
  font-family: $title-font
  letter-spacing: 10px
  font-size: 2.3em
  // no select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.nav-links
  font-family: $title-font
  font-size: 1em

.nav-item
  display: inline-block
  padding: 0 20px

// projects

#projects-container
  margin-top: $margin-height/2
  display: -webkit-flex
  display: flex
  justify-content: space-around
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
  -webkit-align-content: stretch
  align-content: stretch
  width: 100%

.project
  position: relative
  border-width: 5px
  border-style: solid
  border-color: $font-color
  height: 150px
  width: 200px
  margin-top: $margin-height/2
  overflow: hidden

.project-thumbnail
  width: 100%
  filter: grayscale(1)
  -webkit-filter: grayscale(1)

.project-name
  font-family: $title-font
  background-color: $font-color
  padding: 5px
  color: white
  font-size: 1em
  position: absolute
  top: 0
  left: 0
  z-index: 1

.full-width-pic
  width: 100%
  border-width: 5px
  border-style: solid
  border-color: $font-color
  margin-top: $margin-height

.iframe-vid
  border-width: 5px
  border-style: solid
  border-color: $font-color
  margin-top: $margin-height

// contact

#contact-container
  padding: $margin-height 0 0 0

table
  color: $font-color
  font-size: 1.1em
  font-family: $body-font
  display: inline
  text-align: left

a
  color: $font-color
  text-decoration: none

#contact-twitter:hover
  color: #55acee
#contact-soundcloud:hover
  color: #ff7000
#contact-facebook:hover
  color: #46629e
#contact-pocket:hover
  color: #ee4e62
#contact-linkedin:hover
  color: #1c87bd
#contact-github:hover
  color: #666
#contact-instagram:hover
  color: #bc3176
#contact-flickr:hover
  color: #f40085

// text

.text
  position: relative
  width: 80%
  left: 10%
  margin-top: $margin-height
  font-size: 1.1em
  word-spacing: 110%
  text-align: left

.caption
  position: relative
  width: 60%
  left: 20%
  margin-top: 5px
  font-size: 1em
  word-spacing: 110%

p
  margin: 7px 0

// slashes

#left
  left: 50%
  top: 0
  text-align: left

#right
  right: 50%
  top: 0
  text-align: right

.slashes
  position: absolute
  z-index: -1
  overflow: hidden
  width: 100%
  height: 110%
  font-size: 2.2em
  line-height: 95%
  letter-spacing: -30%
  color: $slash-color
  font-family: $code-font
  word-wrap: break-word
  cursor: default
  // no select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
