{% extends "base_project.html" %}
{% load staticfiles %}

{% block top %}

<span class="project-section-title highlight highlight">&nbsp;<a href="/">HOME</a>/MICROGRAVITY EXPERIMENTS&nbsp;</span>

<div id="project-top">		

	<div class="top-img-container">
		<div class="project-section-header">
			<img class="project-top-cover" src="{% static 'mysite/projects/a4h.jpg' %}" width="400">
		</div>
	</div>

</div>

{% endblock %}

{% block main %}

<div class="center-text">

	<img src="{% static 'mysite/projects/a4h.png' %}" id="project-pic" class="section-pic" />

	<div class="header highlight">
		multidisciplinary design
	</div>

	<div class="text highlight">
		In my final year of university, I was enrolled in a multidisciplinary capstone design course for the full year. Unlike the conventional capstone course, we we put in teams of 5, all from different disciplines of Engineering. Our project was done for a non-profit called <a href="http://www.astronauts4hire.org/">Astronauts4Hire</a>. A4H works with astronaut candidates and provides training to maximize their chances of getting certified. They also work on outreach projects for high school students, teaching them physics.
	</div>

	<div class="text highlight">
		Our project worked towards both of their goals. We designed and built three experiments that could be run during parabolic flights - flights on jet airplanes that follow parabolic flight paths in order to provide about 30 seconds at a time of freefall and therefore zero-gravity. As opposed to sitting idle as they currently do, astronauts in training would be able to set up and interact with these experiments, testing their focus and dexterity while in a difficult zero gravity environment.
	</div>


</div>

<div class="full-width">
	<div class="full-width-pic-container">
		<img src="{% static 'mysite/projects/a4h_poster.png' %}" class="full-width-pic" />
	</div>
	<div class="caption highlight">
		Poster describing our work.
	</div>
</div>

<div class="center-text">	

	<div class="text highlight">
		The first experiment demonstrated the intermediate axis theorem in zero gravity - the instability of rotation of certain objects. This stuff: 
	</div>
</div>

<div class="full-width">
	
	<iframe width="560" height="315" class="iframe-vid" src="https://www.youtube.com/embed/1n-HMSCDYtM" frameborder="0" allowfullscreen></iframe>

	<div class="caption highlight">
		Demonstration of the intermediate axis theorem on board the Internation Space Station.
	</div>

</div>

<div class="center-text">
	<div class="text highlight">
		I worked primarily on this experiment. It consisted of a custom circuit board on the rotating body to measure gyroscope data and transmit it over bluetooth to an iPhone app.
	</div>
</div>

<div class="full-width">
	<div class="full-width-pic-container">
		<img src="{% static 'mysite/projects/a4h_circuit.jpg' %}" class="full-width-pic" />
	</div>
	<div class="caption highlight">
		The gyroscopic measurement chip.
	</div>

	<div class="full-width-pic-container">
		<img src="{% static 'mysite/projects/a4h.jpg' %}" class="full-width-pic" />
	</div>
	<div class="caption highlight">
		The measurement box containing our experiments during microgravity.
	</div>

</div>	

<div class="center-text">

	<div class="text highlight">
		We also built experiments to demonstrate capillary action and pendulum motion in zero gravity. A compilation of the results can be seen in the video below. This was captured during a drop tower test of about one second.
	</div>

</div>

<div class="full-width">
	
	<iframe width="560" height="315" class="iframe-vid" src="https://www.youtube.com/embed/3hB1s8c_558" frameborder="0" allowfullscreen></iframe>

	<div class="caption highlight">
		Video of our experiments in a test run using a drop tower.
	</div>

</div>	

<div class="center-text">

	<div class="text highlight">
		A4H is looking forward to flying our experiment box on an upcoming parabolic or suborbital flight.
	</div>

	<br/><br/>

</div>

{% endblock %}