{% extends "base_project.html" %}
{% load staticfiles %}

{% block top %}

<span class="project-section-title highlight highlight">&nbsp;<a href="/">HOME</a>/SQUAREFACE&nbsp;</span>

<div id="project-top">		

	<div class="top-img-container">
		<div class="project-section-header">
			<img class="project-top-cover" src="{% static 'mysite/projects/squareface.png' %}" width="400">
		</div>
	</div>

</div>

{% endblock %}

{% block main %}

<div class="center-text">

	<img src="{% static 'mysite/projects/sf.png' %}" id="project-pic" class="section-pic" />

	<div class="text highlight">
		Squareface is my first full video game. It is currently in development but a simple demo is online below (it may require up to a minute to load, depending on your connection).
	</div>

	<div class="header highlight">
		<a class="highlight" href="/squareface"> > PLAY < </a>
	</div>

	<div class="text highlight">
		Squareface is a simple 2D platformer that will be set in a surreal downtown toronto. As time passes, everyday objects transform into puzzles, platforms, and enemies. Get out before you completely lose your mind.
	</div>

	<img src="{% static 'mysite/projects/hydrant_sprites.gif' %}" id="project-pic" class="" />
	<br/><br/>

	<div class="text highlight">
		It is built in C# using Unity. I am working with Mason Barnes-Crouse on this project. Some early sprite sheets are shown below.
	</div>

</div>

<div class="full-width">

	<div class="full-width-pic-container">
		<img src="{% static 'mysite/projects/sf_sprites.png' %}" class="full-width-pic" />
	</div>

	<div class="caption highlight">
		Sprite sheet for squareface.
	</div>

	<div class="full-width-pic-container">
		<img src="{% static 'mysite/projects/hydrant_sprites.png' %}" class="full-width-pic" />
	</div>

	<div class="caption highlight">
		Enemy sprite sheet.
	</div>

	<div class="full-width-pic-container">
		<img src="{% static 'mysite/projects/diamond_sprites.png' %}" class="full-width-pic" />
	</div>

	<div class="caption highlight">
		Leveled up.
	</div>

	<br/><br/>

</div>


{% endblock %}