{% load staticfiles %}

<html> 

<head>

	<title>PHIL &nbsp; ┐(・。・┐) ♪</title>

	<!-- FAVICON -->
	<link rel="shortcut icon" type="image/gif" href="{% static 'mysite/favicon.ico' %}"/>

	<!-- FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

	<!-- ICONS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!-- STYLE -->
	<link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}" />

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="{% static 'mysite/main.js' %}"></script>

</head>

<body>

	{% block top %}
	{% endblock %}

	<div id="left" class="project-slashes">
		{#% include 'mysite/slashes.html' %#}
	</div>

	<div id="main">

		{% block main %}

		{% endblock %}

	</div>

	<div id="right" class="project-slashes">
		{#% include 'mysite/slashes.html' %#}
	</div>

</body>

</html>
