<html>

<head>

	<title>PHIL &nbsp; ┐(・。・┐) ♪</title>

	<!-- FAVICON -->
	<link rel="shortcut icon" type="image/gif" href="images/favicon.ico"/>

	<!-- FONTS -->
	<link href='/fonts/Komika-Hand/Komika_Hand.ttf' rel='stylesheet' type='text/css'>
	<link href='/fonts/source-code-pro/SourceCodePro-Light.otf' rel='stylesheet' type='text/css'>
  <link href='/fonts/source-sans-pro/SourceSansPro-Regular.otf' rel='stylesheet' type='text/css'>

	<!-- ICONS -->
  <link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- STYLE -->
	<link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />

	<!-- JS -->
	<script src="js/jquery-1.10.1.min.js"></script>
	<script src="js/main.js"></script>

</head>

<body>

	<div id="left" class="slashes"></div>

	<div id="main">

    {{ content }}

	</div>

	<div id="right" class="slashes"></div>

</body>

</html>
