---
layout: base
---

<!-- INTRO -->

<img src="{{ page.header_picture }}" class="header-picture" id="project-header-picture"/>
<div class="header-title" id="main-header">{{ page.title }}</div>

<!-- NAV -->

<div class="top-squiggles squiggle"></div>

<div class="nav-links">
  <a href="/"><div class="nav-item">Home</div></a>
  <a href="/#projects-header-picture"><div class="nav-item">Projects</div></a>
  <a href="/#contact-header-picture"><div class="nav-item">Contact</div></a>
</div>

<div class="bottom-squiggles squiggle"></div>

{{ content }}

<!-- BOTTOM -->

<div class="top-squiggles squiggle"></div>

<div style="height:20px"></div>

<div class="nav-links">
  <a href="#project-header-picture"><div class="nav-item">Top</div></a>
  <a href="/"><div class="nav-item">Home</div></a>
</div>

<div style="height:40px"></div>
